{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Register {{ .Id }} </h2>
      <p>Username: {{ .Username }}</p>
      <p>Password:  {{ .Password }}</p>
      <p>Name: {{ .Name }}</p>
      <br/> <a href="/edit?id={{ .Id }}">Edit</a></p>
  {{ template "Footer" }}
{{ end }}